---
import Logo from '@components/Logo.astro';
import BaseLayout from '@layouts/Base.astro';

const BASE_URL = import.meta.env.BASE_URL;
---

<BaseLayout title="Upss!!">
  <main class="container">
    <img
      class="angry-unicorn"
      src={`${BASE_URL}assets/images/404.webp`}
      alt="Unicornio de caricaturas enojado"
      width="350"
    />

    <h1><span class="status-code">404: </span> <span>Unicornio no encontrado</span></h1>

    <a href={BASE_URL} class="link">Regresar al inicio</a>

    <a href="https://uxanarangel.com" target="_self" rel="noopener noreferrer" class="logo">
      <Logo size={100} />
    </a>
  </main>
</BaseLayout>

<style>
  .container {
    --transition: 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    gap: 1rem;

    & .angry-unicorn {
      margin-top: -6rem;
      animation: float-and-shadow 9s linear infinite alternate;
    }

    & h1 {
      color: white;
      font-weight: 400;
      font-size: 5rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-family: var(--font-family-primary);

      .status-code {
        color: var(--secondary-color);
      }
    }

    & .link {
      font-weight: 700;
      font-size: 1.2rem;
      padding: 0.6rem 1.2rem;
      border-radius: 0.6rem;
      border: 3px solid var(--secondary-color);
      color: var(--secondary-color);
      text-decoration: none;

      background-color: transparent;

      box-shadow: 0 0 1rem transparent;
      cursor: pointer;

      transition:
        border var(--transition),
        color var(--transition),
        box-shadow var(--transition),
        transform var(--transition),
        background-color var(--transition);

      &:hover,
      &:focus {
        outline: none;
        box-shadow: 0 0 1rem rgb(from var(--secondary-color) r g b / 0.5);
        color: var(--body-color);
        background-color: var(--secondary-color);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    & .logo {
      position: absolute;
      bottom: 1rem;
      transition: filter var(--transition);

      &:hover {
        filter: drop-shadow(0 0 1vw var(--secondary-color));
      }
    }
  }
</style>
