---
import CardsCategory from '@sections/home/CardsCategory.astro';
import Contributors from '@sections/home/Contributors.astro';
import Hero from '@sections/home/Hero.astro';
import Information from '@sections/home/Information.astro';
import ConstructionDialog from '@components/ConstructionDialog.astro';
import ScrollToTop from '@components/ScrollToTop.astro';
import PageLayout from '@layouts/Page.astro';
---

<PageLayout title="Inicio">
  <main class="content">
    <Hero />
    <Information />
    <CardsCategory />
    <Contributors />
  </main>

  <ConstructionDialog />
  <ScrollToTop />
</PageLayout>

<style>
  .content {
    max-width: 1080px;
    margin-inline: auto;
    padding: 3rem 1rem;

    @media (768px <= width <= 1199.98px) {
      max-width: 600px;
    }

    & section {
      margin-top: 3.5rem;
    }
  }
</style>
