---
import Logo from '../Logo.astro';

const BASE_URL = import.meta.env.BASE_URL;

interface Props {
  size: number;
}

const { size } = Astro.props;
---

<a class="logo" href={BASE_URL} title="UX Ana Rangel">
  <span class="icon"><Logo size={size} /></span>
  <span class="text">cards</span>
</a>

<style>
  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    user-select: none;

    &:hover {
      & .icon {
        filter: drop-shadow(0 0 1vw var(--secondary-color));
      }

      & .text {
        text-shadow: 0 0 1vw var(--primary-color);
      }
    }

    & .icon {
      transition: filter 0.3s ease-in-out;
      filter: drop-shadow(0 0 3vw var(--primary-color));
    }

    & .text {
      color: var(--secondary-color);
      font-size: 3rem;
      font-weight: 400;
      font-family: var(--font-family-primary);
      text-transform: uppercase;
      transition: text-shadow 0.3s ease-in-out;
      text-shadow: 0 0 3vw var(--secondary-color);

      &::before {
        content: '×';
        color: var(--text-color);
        margin-right: 0.5rem;
        text-shadow: none;
        animation: float-and-shadow 9s linear infinite alternate;
        display: inline-block;
      }
    }
  }
</style>
